#demo{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
 
 
}

#demo h2{
  margin: 10px;
padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  
}


.light{
  background-color: #fd014d;
  color: #111;
}


.dark{
  background-color: #af7689;
  color: #111;
}